@mixin color($fg, $bg){
	color:$fg;
	background:$bg;
}

@mixin color_hover($fg, $fg_hov){
	color:$fg;
	&:hover {
		color:$fg_hov;
	}
}

@mixin color_hover_bg($fg, $fg_hov, $bg){
	@include color_hover($fg, $fg_hov);
	background:$bg;
}

@mixin color_bg_hover($fg, $fg_hov, $bg, $bg_hov){
	@include color_hover_bg($fg, $fg_hov, $bg);
	&:hover {
		background:$bg_hov;
	}
}

@mixin standout($fg, $bg){
	@include color_bg_hover($fg, $bg, $bg, $fg);
}

@mixin pad($top:0.8em, $bottom:$top){
	padding:$top 2.5% $bottom;
}

@mixin radius($dir:null, $rad:10px){
	@if($dir == "top"){
		border-radius:$rad $rad 0 0;
	}
	@else if($dir == "right"){
		border-radius:0 $rad $rad 0;
	}
	@else if($dir == "bottom"){
		border-radius:0 0 $rad $rad;
	}
	@else if($dir == "left"){
		border-radius:$rad 0 0 $rad;
	}
	@else {
		border-radius:$rad;
	}
}

@mixin shadow($inset:false){
	@if($inset){
		box-shadow:inset 5px 5px 5px darken($black, 7%);
	}
	@else {
		box-shadow:5px 5px 5px darken($black, 7%);
	}
}

@mixin flex($justify:center, $align:center){
	display:flex;
	justify-content:$justify;
	align-items:$align;
}

@mixin before($content, $color, $bold:false){
	&::before {
		color:$color;
		content:$content;
		@if($bold){
			font-weight:bold;
		}
	}
}

@mixin pad($top:0, $bottom:$top){
	padding:$top 2.5% $bottom;
}
