$base:#16222c;
$l-black:#16222c;
$ll-black:lighten($base, 25%);
$black:darken($base, 3%);
$d-black:darken($base, 5%);
$dd-black:darken($base, 7%);
$ddd-black:darken($base, 7.5%);

$cyan:#3db5e1;
$yellow:#e39f31;
$white:#aaaaaa;
$green:#34d58d;
$grey:#407c9a;
$blue:#296dcf;
$d-green:#15a084;
$red:#cc4131;
$orange:#ff8700;
