$l-black:#16222c;
$ll-black:lighten($l-black, 25%);
$black:darken($l-black, 3%);
$d-black:darken($l-black, 5%);
$dd-black:darken($l-black, 7%);

$cyan:#3db5e1;
$yellow:#e39f31;
$white:#aaaaaa;
$green:#34d58d;
$grey:#407c9a;
$blue:#296dcf;
$d-green:#15a084;
$red:#cc4131;
$orange:#ff8700;
