* {
  font-family: "mononoki";
  margin: 0;
  padding: 0;
}

html {
  color: #aaaaaa;
  background: #0a1014;
  font-size: 20px;
}

button, input, textarea {
  font-size: 1em;
  border: 0;
  background: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #3db5e1;
}
a:hover {
  color: #e39f31;
  transition: 0.4s;
}

h1, h2, h3, h4, h5, h6 {
  color: #407c9a;
}

p {
  line-height: 1.3em;
  margin: 0.5em 0;
}

.blue {
  color: #296dcf;
}

.green {
  color: #34d58d;
}

.red {
  color: #cc4131;
}

.grey {
  color: #407c9a;
}

button {
  color: #3db5e1;
  background: none;
  font-weight: bold;
}
button:hover {
  color: #e39f31;
  transition: 0.4s;
}

button.cancel:hover {
  color: #cc4131;
}

button.submit:hover {
  color: #34d58d;
}

.container, main {
  width: 95%;
  margin: 0 auto;
  max-width: 1000px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 10px 10px;
  box-shadow: 5px 5px 5px #05080a;
  margin-bottom: 20px;
  font-weight: bold;
}
nav button, nav a {
  color: #407c9a;
  background: #0e151b;
  text-align: center;
  width: 100%;
  padding: 0.1em;
}
nav button:hover, nav a:hover {
  color: #0e151b;
  transition: 0.4s;
}
nav button:hover, nav a:hover {
  background: #407c9a;
  transition: 0.4s;
}
nav button:first-child, nav a:first-child {
  border-bottom-left-radius: 10px;
}
nav button:last-child, nav a:last-child {
  border-bottom-right-radius: 10px;
}

nav.main {
  font-size: 1.2em;
}
nav.main .active {
  color: #15a084;
}
nav.main .active::before {
  color: #296dcf;
  content: "~/";
}

nav.post-form {
  font-size: 1.1em;
}
nav.post-form .cancel {
  color: #cc4131;
  background: #0e151b;
}
nav.post-form .cancel:hover {
  color: #0e151b;
  transition: 0.4s;
}
nav.post-form .cancel:hover {
  background: #cc4131;
  transition: 0.4s;
}
nav.post-form .submit {
  color: #15a084;
  background: #0e151b;
}
nav.post-form .submit:hover {
  color: #0e151b;
  transition: 0.4s;
}
nav.post-form .submit:hover {
  background: #15a084;
  transition: 0.4s;
}

.box {
  border-radius: 10px;
  box-shadow: 5px 5px 5px #05080a;
  color: #aaaaaa;
  background: #111a22;
  margin: 20px 0;
}
.box h2 {
  padding: 0.5em 2.5% 0.2em;
}
.box .content {
  padding: 0.2em 2.5% 0.5em;
}

.box.error h2 {
  color: #cc4131;
}

.box form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box form input, .box form textarea {
  width: 100%;
}

.box.flush {
  margin-bottom: 0;
  border-radius: 10px 10px 0 0;
}

input, textarea {
  color: #15a084;
  background: #0e151b;
  padding: 0.2em 0.5em;
  margin: 2px 0;
}
input::placeholder, textarea::placeholder {
  color: #407c9a;
}

textarea {
  color: #aaaaaa;
  background: #0e151b;
  resize: none;
}

footer form {
  display: inline;
}

::-webkit-file-upload-button {
  padding: 0;
  font-weight: bold;
  color: #3db5e1;
  background: none;
  border: none;
  font-family: "mononoki";
  font-size: 1em;
  padding-right: 10px;
}

main {
  margin-top: 10px;
  margin-bottom: 40px;
}

header h1 a {
  color: #34d58d;
  background: #111a22;
  border-radius: 10px 10px 0 0;
  box-shadow: 5px 5px 5px #05080a;
  padding: 0.8em 2.5% 0.8em;
  display: block;
  font-size: 1.1em;
}
header h1 a:hover {
  color: #e39f31;
  transition: 0.4s;
}

footer {
  color: #407c9a;
  background: #111a22;
  font-size: 1.1em;
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer form {
  display: inline;
}

footer input {
  padding: 0;
  background: none;
  width: 25vw;
  max-width: 200px;
}

footer button, footer a {
  margin: 0 0.5em;
  font-weight: bold;
}

footer .prompt {
  margin-right: 10px;
}

footer .user {
  color: #15a084;
  margin-left: 10px;
}

/*# sourceMappingURL=main.css.map */
