.box {
	@include radius;
	@include shadow;
	@include color($white, $black);
	margin:20px 0;
	h2 {
		@include pad(0.5em, 0.2em);
	}
	.content {
		@include pad(0.2em, 0.5em);
	}
}

.box.error {
	h2 {
		color:$red;
	}
}

.box form {
	@include flex;
	flex-direction:column;
	input, textarea {
		width:100%;
	}
}

.box.flush {
	margin-bottom:0;
	@include radius("top");
}

.box-comments {
	textarea {
		@include shadow(true);
		@include radius;
	}
}
