button {
	@include color_hover_bg($cyan, $yellow, none);
	font-weight:bold;
}

button.cancel {
	&:hover {
		color:$red;
	}
}

button.submit {
	&:hover {
		color:$green;
	}
}


@mixin barred-button($fg, $hov){
	//button {
	@include color_hover($fg, $hov);
	border-left:solid 0.15em $fg;
	&:hover {
		border-color:$hov;
	//}
	}
}


button.barred, a.barred {
	@include barred-button($cyan, $yellow);
}

button.barred--footer, a.barred--footer {
	@include barred-button($grey, $yellow);
}

button.barred--footer.cancel {
	@include barred-button($grey, $red);
}

button.barred--footer.submit {
	@include barred-button($grey, $green);
}
