.comment-form {
	textarea {
		@include shadow(true);
		@include radius;
		background:$dd-black;
	}
}

.comment-form-insert {
	margin:0;
	padding:8px;
	@include radius("top");
}

.comment-form-reply {
	border-radius:0;
}
