.list-bar {
	background:$d-black;
	padding:0.5em 0;
	position:relative;
	@include shadow;
	font-size:0.9em;
	color:$white;
	font-weight:bold;
	.elements {
		@include flex(space-evenly);
		div {
			@include flex;
			width:100%;
		}
	}
	div:first-of-type {
		justify-content:flex-start;
	}
	div:last-of-type {
		justify-content:flex-end;
	}
}

.list-bar-top {
	@include radius("top");
	margin-top:10px;
	z-index:-1;
}

.list-bar-bottom {
	@include radius("bottom");
	margin-bottom:10px;
	z-index:1;
}

.navigation {
	font-size:1em;
	button {
		@include flex;
		display:inline-flex;
		margin:0 1em;
		a {
			@include flex;
			font-size:1.1em;
		}
	}
	.page {
		color:$grey;
		font-weight:bold;
		margin:0 0.8em;
	}
	.inactive {
		color:$l-black;
	}
}
.manual-page {
	@include flush_input_button($cyan, $dd-black, 0);
	form {
		width:4em;
	}
}

.list {
	.post-preview:last-of-type {
		margin-bottom:0;
	}
	.post-preview:first-of-type {
		margin-top:0;
	}
}
