.post-preview {
	@include shadow;
	@include color($white, $black);
	margin:20px 0;
	@include pad(0.5em);
	position:relative;
	h3 {
		font-size:1.3em;
		padding:0.2em 0;
	}
	.bookmark {
		position:absolute;
		top:0.5em;
		right:2.5%;
		@include color_hover($ll-black, $red);
		font-size:1.2em;
		&.active {
			color:$red;
		}
	}
}
