footer {
	@include color($grey, $black);
	font-size:1.1em;
	width:100%;
	position:fixed;
	bottom:0;
}

footer form {
	display:inline;
}

footer input {
	padding:0;
	background:none;
	width:25vw;
	margin:0;
	max-width:200px;
}

footer button, footer a {
	margin:0 0.5em;
	font-weight:bold;
}

footer .prompt {
	margin-right:10px;
}

footer .user {
	color:$d-green;
	margin-left:10px;
}
