footer {
	@include color($grey, $dd-black);
	font-size:1.15em;
	width:100%;
	position:fixed;
	bottom:0;
	z-index:2;
}

footer form {
	display:inline;
}

footer input {
	padding:0;
	background:none;
	margin:0;
	//min-width:25vw;
	max-width:30vw;
}

footer input[type="text"],
footer input[type="password"] {
	width:22%;
	max-width:200px;
}

footer button, footer a {
	@extend .barred--footer;
	padding:0 0.5em;
	margin:0 0.2em;
	font-weight:bold;
}

footer .prompt {
	margin-right:20px;
}

footer .user {
	color:$d-green;
	margin-left:10px;
}
